* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo do corpo */
  body {
    background-color: #EAEAEA;
    color: #000;
    transition: 0.3s;
  }
  
  /* Navbar */
  nav ul {
      display: flex;
      justify-content: space-around;
      background-color: #222222;
      padding: 25px;
      list-style: none;
    }
    
    nav ul li a {
      color: #fff;
      background: #8a2be2; /* Cor padrão para os links */
      text-decoration: none;
      font-size: 20px;
      padding: 15px;
      border-radius: 15px;
    }
    
    /* Estilo específico para o botão "Início" */
    #inicio a {
      background: #5a2d9b; /* Cor mais escura para o botão "Início" */
    }
    
    /* Estilo para o estado ativo do link "Início" */
    #inicio a:active {
      background-color: #5a2d9b; /* Cor de fundo quando ativo */
      color: #9c9898; /* Cor do texto quando ativo */
    }
    
    /* Estilo para os outros links quando clicados */
    nav ul li a:active {
      background-color: #5a2d9b; /* Cor de fundo mais escura quando ativo */
      color: #9c9898; /* Cor do texto quando ativo */
    }
    
    nav ul li button {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      color: #fff;
    }
   
    .container {
        background-color: #f0f0f0;
        padding: 20px; /* Aumenta o espaço interno */
        margin: auto 40px;
        border-radius: 8px; /* Adiciona bordas arredondadas */
    }
    
    .profile {
        display: grid;
        justify-content: center;
        background-color: #ffffff; /* Cor de fundo da seção de perfil */
        padding: 20px; /* Aumenta o espaço interno */
        border: 1px solid #ccc; /* Adiciona uma borda */
        border-radius: 8px; /* Adiciona bordas arredondadas */
        font-size: 18px;
        
    }

    .btn {
        display: inline-block;
        background: #8a2be2;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 10px;
      }
      .btn:hover {
          background: #711fbd;
          color: #707070;
        }
      .btn:active {
          background: #4A147C;
          color: #ffffff;
        }
        .profile a{
           
                color: #000;
                font-size: 18px;
            
        }


    .dark-mode {
        background-color: #000000;
        color: #ffffff;
      }
      
      .dark-mode .profile,
      .dark-mode .skills {
        background: #1e1e1e;
        box-shadow: none;
      }
      
      .dark-mode nav ul {
        display: flex;
        justify-content: space-around;
        background-color: #222222;
        padding: 25px;
        list-style: none;
      }
      
      .dark-mode nav ul {
          display: flex;
          justify-content: space-around;
          background-color: #222222;
          padding: 25px;
          list-style: none;
        }
        
        .dark-mode nav ul li a {
          color: #fff;
          background: #009c4e; /* Cor padrão para os links */
          text-decoration: none;
          font-size: 20px;
          padding: 15px;
          border-radius: 15px;
        }

        .dark-mode .container {
            background-color: #000000;
            padding: 20px; /* Aumenta o espaço interno */
            margin: auto 40px;
            border-radius: 8px; /* Adiciona bordas arredondadas */
        }
      
        
        /* Estilo para os outros links quando clicados */
        .dark-mode nav ul li a:active {
          background-color: #00592C; /* Cor de fundo mais escura quando ativo */
          color: #9c9898; /* Cor do texto quando ativo */
        }
        
        .dark-mode nav ul li button {
          background: none;
          border: none;
          font-size: 18px;
          cursor: pointer;
          color: #fff;
        }
      
      .dark-mode .btn {
        background: #009c4e;
      }
      
      .dark-mode .btn:hover {
          background: #017239;
          color: #707070;
        }
        .dark-mode .btn:active {
          background: #00592C;
          color: #ffffff;
        }
      
      .dark-mode nav ul li a {
        color: #fff;
        background: #009c4e;
        text-decoration: none;
        font-size: 20px;
        padding: 15px;
        border-radius: 15px;
      }
      
      .dark-mode #inicio a {
          background: #00592C; /* Cor mais escura para o botão "Início" */
        }

    .dark-mode .profile a{
           
        color: #fff;
        font-size: 18px;
    
}